body
{
    
    border:1;
    color:white;
    padding:30px 32px;

    
}
button
{
    padding:15px 32px;
}
html{
    background:url("https://th.bing.com/th/id/R.c7516fdd29e9cbc8afb7d75ef272641c?rik=njALEjKXuqjuFA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fhuDiDyr.jpg&ehk=uV%2bpyS8Y3U4FhCtbSeuqh0mnh54JoRmuCV997XanRcE%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
}